<% header ||= false %>

<span class="sr-only">Ooju</span>
<svg width="73" height="30" viewBox="0 0 73 30" fill="none" xmlns="http://www.w3.org/2000/svg">
  <path d="M0 14.3477C0 6.63206 4.85739 2.0027 11.7965 2.0027C18.7357 2.0027 23.5931 6.63206 23.5931 14.3477C23.5931 22.0633 18.7357 26.6927 11.7965 26.6927C4.85739 26.6927 0 22.0633 0 14.3477ZM11.97 22.5777C16.307 22.5777 18.9091 19.4914 18.9091 14.3477C18.9091 9.20394 16.307 6.11769 11.97 6.11769H11.6231C7.28609 6.11769 4.68392 9.20394 4.68392 14.3477C4.68392 19.4914 7.28609 22.5777 11.6231 22.5777H11.97Z" fill="black"/>
  <path d="M41.8447 30V25.5421H46.2973C47.8586 25.5421 48.3791 25.0277 48.3791 23.4846V5.99584H53.063V25.1991C53.063 28.1139 51.1547 30 48.2056 30H41.8447Z" fill="black"/>
  <path d="M26.3975 14.571C26.3975 9.42725 29.867 5.65517 35.0714 5.65517C40.2757 5.65517 43.7453 9.42725 43.7453 14.571C43.7453 19.7147 40.2757 23.4868 35.0714 23.4868C29.867 23.4868 26.3975 19.7147 26.3975 14.571ZM35.2159 19.8862C37.6446 19.8862 39.2059 17.943 39.2059 14.571C39.2059 11.199 37.6446 9.25579 35.2159 9.25579H34.9268C32.4981 9.25579 30.9368 11.199 30.9368 14.571C30.9368 17.943 32.4981 19.8862 34.9268 19.8862H35.2159Z" fill="black"/>
  <path d="M57.5435 15.9397V5.99516H62.0539V15.8826C62.0539 18.483 63.1526 19.8833 65.0609 19.8833H65.4078C67.3161 19.8833 68.4148 18.483 68.4148 15.8826V5.99516H72.9252V15.9397C72.9252 20.3405 70.5543 23.4839 65.2343 23.4839C59.8854 23.4839 57.5435 20.3405 57.5435 15.9397Z" fill="black"/>
  <path d="M48.6167 3.61113L61.8992 3.61115L61.8992 -2.37072e-05L48.6167 -2.40803e-05L48.6167 3.61113Z" fill="black"/>
</svg>

<% if header %>
  <span class="ml-2 lg:ml-4 md:hidden lg:block">
    <a href="https://github.com/OojuTeam/mint_site" class="text-xs" target="_blank">Create a <br>Mint Page</a>
  </span>
<% end %>
